@media screen and (max-width:980px){
    .center{padding:0 15px;}
}


@media screen and (max-width:780px){
    /* Container Style */
    .wrap{justify-content: start;}
    .container{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(9,minmax(100px, auto));
    padding: 20px 0 ;}

    .container .item:nth-child(1),
    .container .item:nth-child(2),
    .container .item:nth-child(3),
    .container .item:nth-child(4),
    .container .item:nth-child(5){grid-column:1/3;}

    /* button Box Style */
    .btns{justify-content: center;}
    .btns button{border:5px 20px; font-size:12px;}

    /* footer style */
    footer{position:relative;}
    

}

@media screen and (max-width:400px){
    .container{grid-template-rows: repeat(9,minmax(70px, auto)); }
    .graph-circle p{font-size:18px; font-weight:400;}

    .container .subPfBar .pfImg{font-size:20px;}

    footer{padding:10px 15px;}
    footer p{font-size: 12px;}

    
}