@media screen and (max-width:980px){
    .center{padding:0 25px;}
    .hiddenHeader{right:25px; }
}


@media screen and (max-width:780px){
    /* Container Style */
    .wrap{justify-content: start;}
    .container{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(9,minmax(100px, auto));
    padding: 20px 0 ;}

    .container .item:nth-child(1),
    .container .item:nth-child(2),
    .container .item:nth-child(3),
    .container .item:nth-child(4),
    .container .item:nth-child(5){grid-column:1/3;}

    .inputContainer{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(5,minmax(100px, auto));
    padding: 20px 0 ;}
    .inputContainer .item{grid-column:1/3;}    
    .inputContainer .subPfBar{display:none;}    


    /* button Box Style */
    .btns{justify-content: center;}
    .btns button, .btns a, .loadMore button, .subBtn button, .btns a.schInput{border:5px 20px; font-size:12px;}
    

    /* footer style */
    footer{position:relative;}

    /* schedule board page style */
    .item.boardBox .boardTable span{font-size:12px;}

    /* Detail View page Style */
    .item.viewBox .viewTable span{font-size:12px;}
    

}

@media screen and (max-width:600px){
    /* input Box Style */
    .inputContainer .item.inputBox .projectCate{font-size: 12px; width:100%;}
    .inputContainer .item.inputBox .projectTit{font-size: 12px;width:100%; margin-top: 5px;}
    .inputContainer .item.inputBox .projectCon{ font-size: 12px;}

    /* schedule board page style */
    .item.boardBox .boardTable span.boNum{display:none;}
    .item.boardBox .boardTable span.boReg{width:30%;}

    .categoryTabs{text-align: center; }
    .categoryTabs a{padding:10px;}

    /* Detail View page Style */
    .item.viewBox .viewTable span.boNum{display:none;}
    .item.viewBox .viewTable span.boCat{display:none;}
    .item.viewBox .viewTable span.boCon{width:70%;}
    .item.viewBox .viewTable span.boReg{width:30%;}

    .item.viewBox .detailTit h2{font-size: 14px;;}

    /* schedule board page hidden input style */
    .hiddenTit,
    .hiddenCon{width:100%; font-size: 12px;}
}


@media screen and (max-width:400px){
    /* header title style */
    header .headerWrap h1{font-size:16px;}
    
    .container{grid-template-rows: repeat(9,minmax(70px, auto)); }
    .graph-circle p{font-size:18px; font-weight:400;}

    .container .subPfBar .pfImg{font-size:20px;}

    /* grid-up subPfBar text style */
    .subPfBar .pfContents p{display:flex;flex-wrap:wrap;}

    /* button style */
    .btns button,
    .btns a{width:33.33%;}
    .btns button, .btns a, .loadMore button, .btns a.schInput{padding:8px 10px;}
    .subBtn button{padding:5px 5px;}
    
    /* footer style */
    footer{padding:10px 15px;}
    footer p{font-size: 12px;}

    /* schedule board page style */
    .item.boardBox .boardTable span.boCat{display:none;}
    .item.boardBox .boardTable span.boTit{width:60%;}
    .item.boardBox .boardTable span.boReg{width:40%;}

    /* Detail View page Style */
    .item.viewBox .viewTable span.boCat{display:none;}
    .item.viewBox .viewTable span.boCon{width:70%;}
    .item.viewBox .viewTable span.boReg{width:30%;}


    

    
}