
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Header Style */
header{width:100%; height:auto; background: #5F75DF; color:#fff; text-transform: uppercase; }
header .headerWrap{display:flex; align-items: center;justify-content: space-between;}
header .headerWrap a{color:#fff; font-size:22px; }
header .headerWrap h1{font-weight:400; font-size:22px; padding:10px 0; letter-spacing: 1.5px;}

header .headerWrap .mIcon{width:30px; height:auto;  display:flex; flex-wrap:wrap; justify-content: flex-end; cursor: pointer; }
header .headerWrap .mIcon span{width:100%; height: 2px; background: #fff;}
/* header .headerWrap .mIcon span:nth-child(1){} */
header .headerWrap .mIcon span:nth-child(2){margin: 5px 0; width:50%;}
header .headerWrap .mIcon span:nth-child(3){width:70%;}

/* Container Style */

.container{width:100%; height: auto; display:grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(5,minmax(100px, auto)); gap:5px;
padding:20px 0;}
.item{border:1px solid #DDE4F7; background: #fff; }
.item:nth-child(1){grid-row:1/5; display:flex; justify-content: center;align-items: center; padding:30px 0;}
.item:nth-child(6){grid-column:1/3;}

/* circle graph style */
.graph-circle {position: relative; width:100%; height: 100%; display:flex; flex-direction: column;}
.circle-graph-container {position: relative; display: flex; width:100%; height: 100%;}
.circle-graph {margin: 0 15px; position: relative; width: 100%; line-height: 1.2 !important; -webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; display: flex; flex-direction: column; justify-content: center;
align-items: center; font-family: 'Montserrat', sans-serif; font-weight: 300;}
canvas {position: absolute;}

.graph-circle p{font-size:40px; font-weight:700; color:#5F75DF;}
.graph-circle .totalTit{width:100%; height:auto;text-align: center; font-size:20px; font-weight: 600; color:#5F75DF; }

/* Sub Portfolio Progress Bar Style */
.subPfBar{padding:10px; display:flex; align-items:center;}
.subPfBar .pfImg{width:15%; font-size:25px; display:flex; align-items:center; justify-content: center;}
.subPfBar .pfImg i{color:#5F75DF;}
.subPfBar .pfContents{width:85%;}
.subPfBar .pfContents h3{font-size:14px; font-weight: 600;}
.subPfBar .pfContents p{font-size:12px; font-weight: 300; margin:0 0 5px;}
.subPfBar .pfContents p b{font-weight: normal;}
.subPfBar .pfContents .rateNum{font-size:12px; font-weight: 300; width:25px; text-align:right; border:0; outline:0;}
.subPfBar .pfContents .rateNum:focus{border:1px solid #5F75DF;}
.subPfBar .pfBarBox{padding:5px 0; border:1px solid #ccc; border-radius: 10px; background:#DDE4F7;}
.subPfBar .pfBarBox .pfBar{display:block; width:0; height:15px; background: #5F75DF; border-radius: 0 10px 10px 0;}


/* button box style */
.btns{display:flex; align-items:center; justify-content: flex-end; 
    padding:10px;}
.btns button, a.schInput{border:1px solid #5F75DF; background: #5F75DF;
color:#fff; font-weight: 400; font-family: 'Noto Sans KR'; padding:10px 30px; font-size:15px;}
.btns button:nth-child(2){margin:0 5px;}


/* footer style */
footer{width:100%; height: auto; background: #5F75DF; padding: 15px 0 ; text-align: center; _position: fixed; bottom: 0;}
footer p{color: #fff; font-weight: 400;}


/* input form page style */
.inputContainer{width:100%; height: auto; display:grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(6,minmax(100px, auto)); gap:5px;
padding:20px 0;}
.inputContainer .item{border:1px solid #DDE4F7; background: #fff; }
.inputContainer .item:nth-child(1){grid-row-start:1/5; display:flex; justify-content: center;align-items: center; padding:30px 0;}
.inputContainer .item:nth-child(6){grid-column:1/3;}
.inputContainer .item:nth-child(7){grid-column:1/3;}

.inputContainer .subPfBar .pfContents .rateNum:focus{border:0;}

/* input Box Style */
.inputContainer .item.inputBox{padding:10px; _display:flex; _flex-wrap:wrap; _justify-content: space-between;}
.inputContainer .item.inputBox .projectCate{width:30%; height:40px; border:1px solid #ccc; border-radius: 0; outline:0; padding:5px;
font-family:'Montserrat'; display:block; float:left;}
.inputContainer .item.inputBox .projectTit{width:calc(70% - 5px); height: 40px; padding:5px; border:1px solid #ccc;
font-family:'Noto Sans KR'; display:block; float:right;}
.inputContainer .item.inputBox .projectCon{width:100%; height: 150px; border:1px solid #ccc; margin-top: 7px; resize:none; 
padding:5px; font-family:'Noto Sans KR';}
.inputContainer .item.inputBox .projectTit:focus{border:1px solid #5F75DF;}
.inputContainer .item.inputBox .projectCon:focus{border:1px solid #5F75DF;}

/* Schedule Board Page Style */
.item.boardBox{padding:10px; _display:flex; _flex-wrap:wrap; _justify-content: space-between; }
.item.boardBox .boardTable{width:100%; height: auto; border-bottom:1px solid #DDE4F7;}
.item.boardBox .boardTable li:last-child{}
.item.boardBox .boardTable li:nth-child(odd){background: #F3F6FB;}
.item.boardBox .boardTable .boardTitle,
.item.boardBox .boardTable .boardList
{width:100%; height: auto; display: flex; justify-content: center; align-items: center; }
.item.boardBox .boardTable li.boardTitle{background: #5F75DF;}

.item.boardBox .boardTable span{font-family: 'Noto Sans KR'; text-align: center; padding:8px 0;}
.item.boardBox .boardTable .boardTitle span{color:#fff;}
.item.boardBox .boardTable span.boNum{width:10%;}
.item.boardBox .boardTable span.boCat{width:20%;}
.item.boardBox .boardTable span.boTit{width:50%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.item.boardBox .boardTable span.boReg{width:20%;}

.loadMore{width:100%; height: auto; margin-top:5px; display: flex; justify-content: center; }
.loadMore button{outline:0; border:1px solid #5F75DF; background: #5F75DF; padding:10px 30px; color: #fff; 
font-family: 'Noto Sans KR' ;}

.categoryTabs{width:100%; height: auto;}
.categoryTabs a{display:inline-block; border: 1px solid #DDE4F7; background: #DDE4F7; color:#5F75DF; 
font-family: 'Noto Sans KR';  padding: 5px 15px; margin-bottom: 5px;}
.categoryTabs a.active{border: 1px solid #5F75DF; background: #5F75DF;color: #fff;}