@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Header Style */
header{width:100%; height:auto; background: #5F75DF; color:#fff; text-transform: uppercase; }
header .headerWrap{display:flex; align-items: center;justify-content: space-between;}
header .headerWrap h1{font-weight:400; font-size:22px; padding:10px 0; letter-spacing: 1.5px;}

header .headerWrap .mIcon{width:30px; height:auto;  display:flex; flex-wrap:wrap; justify-content: flex-end; cursor: pointer; }
header .headerWrap .mIcon span{width:100%; height: 2px; background: #fff;}
/* header .headerWrap .mIcon span:nth-child(1){} */
header .headerWrap .mIcon span:nth-child(2){margin: 5px 0; width:50%;}
header .headerWrap .mIcon span:nth-child(3){width:70%;}

/* Container Style */
.container{width:100%; height: auto; padding: 20px 0; display:grid;    grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(5,minmax(100px, auto)); gap:5px;}

.container .item{border:1px solid #ccc; background: #fff; }
.container .item:nth-child(1){grid-row:1/5; display:flex; justify-content: center;align-items: center; padding:30px 0;}
.container .item:nth-child(6){grid-column:1/3;}

/* circle graph style */
.graph-circle {position: relative; width:100%; height: 100%; display:flex; flex-direction: column;}
.circle-graph-container {position: relative; display: flex; width:100%; height: 100%;}
.circle-graph {margin: 0 15px; position: relative; width: 100%; line-height: 1.2 !important; -webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; display: flex; flex-direction: column; justify-content: center;
align-items: center; font-family: 'Montserrat', sans-serif; font-weight: 300;}
canvas {position: absolute;}

.graph-circle p{font-size:40px; font-weight:700; color:#5F75DF;}
.graph-circle .totalTit{width:100%; height:auto;text-align: center; font-size:20px; font-weight: 600; color:#5F75DF; }

/* Sub Portfolio Progress Bar Style */
.container .subPfBar{padding:10px; display:flex; align-items:center;}
.container .subPfBar .pfImg{width:15%; font-size:25px; display:flex; align-items:center; justify-content: center;}
.container .subPfBar .pfImg i{color:#5F75DF;}
.container .subPfBar .pfContents{width:85%;}
.container .subPfBar .pfContents h3{font-size:14px; font-weight: 600;}
.container .subPfBar .pfContents p{font-size:12px; font-weight: 300; margin:0 0 5px;}
.container .subPfBar .pfContents .rateNum{font-size:12px; font-weight: 300; width:25px; text-align:right; border:0;}
.container .subPfBar .pfContents .rateNum:focus{border:1px solid #5F75DF;}
.container .subPfBar .pfBarBox{padding:5px 0; border:1px solid #ccc; border-radius: 10px; background:#DDE4F7;}
.container .subPfBar .pfBarBox .pfBar{display:block; width:0; height:15px; background: #5F75DF; border-radius: 0 10px 10px 0;}


/* button box style */
.btns{display:flex; align-items:center; justify-content: flex-end; 
    padding:10px;}
.btns button{border:1px solid #5F75DF; background: #5F75DF;
color:#fff; font-weight: 400; font-family: 'Noto Sans KR'; padding:10px 30px;}
.btns button:nth-child(2){margin:0 5px;}

